<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Tests">
    <parameter name="email" value="qwe123123@gmail.com"/>
  <test name="smoke testing">
    <groups>
      <run>
        <include name="param"></include>
          <include name="smoke"></include>
      </run>
    </groups>
    <classes>
      <class name="org.example.tests.LogInTests">
<!--          <methods>-->
<!--              <include name="loginNegativeParametresTest"></include>-->
<!--          </methods>-->
      </class>


    </classes>
  </test>
</suite>